.promotion {
    padding: 15px;
}

.promotion [class*="col-"] {
    padding: 15px;
}

.promotion-box {
    display: flex;
    background-color: var(--third-bg-color);
    position: relative;
}

.promotion-box .text {
    flex-grow: 1;
    padding: 20px;
}

.promotion-box .text h3 {
    font-size: 25px;
}

.promotion-box .text button {
    margin-top: 30px;
}

.promotion-box img {
    width: 150px;
    transition: transform 0.3s ease-in-out;
}

.promotion-box:hover img {
    transform: scale(1.1);
}